@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

/* Define your color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: theme('fontFamily.sans'), Arial, Helvetica, sans-serif;
}