@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

/* Set default color mode styles using CSS variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Apply global styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
.footer-pattern::before {
  content: '';
  background: url('/images/repeatable_pattern.svg') top left repeat;
  background-size: auto 80px;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}